.border-custom {
    border: 1px black solid;
    border-radius: 5px;
}

.p-dataview {
    .p-dataview-header {
        background-color: white !important;
        padding: 0px !important;
    }
}

.p-panel {
    .p-panel-header {
        background-color: white !important;
    }
}